/*------------------------------
Configuración global
------------------------------*/
.con_header{
	grid-area: header;
	width: 100%;
	height: 60px;
}
.con_navleft{
	grid-area: nav;
	width: 220px;
    height: calc( 100% - 60px);
	min-height: 400px;
	display: none;
}
.con_maincontent{
	grid-area: main;
}
.con_principal{
	display: grid;
	grid-template-areas: 
		'header header header header header header header header header header'
		'nav main main main main main main main main main'
		'nav main main main main main main main main main';
}

/*------------------------------
Main container es el contenedor global
------------------------------*/
.main_container{
	width:calc(100% - 220px);
	max-width:1200px;
	margin:5px auto;
	height: calc(100vh - 70px);
}
.full_container{
	width: 96%;
	max-width: 310px;
	min-height: calc(100vh - 70px);
	//min-height:400px;
	margin:5px auto;
	display: flex;
	justify-content:center;
	flex-direction:column;
}
.modules{
	background: color('modules');
}

/*------------------------------
Estilo de los titulos principales
------------------------------*/
.title_main{
	position:relative;
	margin: 0.5rem 0;
	padding: 0.4rem 0;
	border-bottom: 1px solid lighten(color('dark'), 40);
	h1{
		color: color('secundary');
		font-weight: 400;
	}
	.line{
		height: 2px;
		width: 70%;
		max-width: 150px;
		position: absolute;
		bottom: 0px;
		background: color('dark');
	}
}
.title_secundary{
	margin: 0.5rem 0;
	padding: 0.5rem 0;
	h1{
		font-weight: 300;
		text-transform: uppercase;
	}
	.line{
		height: 3px;
		width: 30px;
		background: color('warning');
	}
}
.title_aditional{
	font-weight:400;
	margin: 0 0 1rem 0;
	text-decoration: underline;
	color: color('secundary');
}
.title_separe{
	display: flex;
	justify-content: space-between;
	position:relative;
	padding: 0.5rem 0;
	margin: 0 0 1.5rem 0;
	border-bottom: 1px solid lighten(color('dark'), 40);
	h1{
		color: color('dark');
		font-weight: 700;
	}
	.line{
		position:absolute;
		height: 2px; width: 45%;
		right: 0;
		bottom: 0;
		background: color('dark');
	}
}
/*------------------------------
Estilo de los Servicios
------------------------------*/
.service{
	margin:auto;
	margin-top:1rem;
	display: flex;
	width: 98%;
	max-width: 320px;
	max-height: 250px;
	&_image{
		height: 100px;
		width: 100px;
		position: absolute;
		border-radius:100%;
		box-shadow: 1px 0px 4px 0px color('secundary');
		z-index:1;
	}
	&_container{
		position: relative;
		margin: auto;
		width:86%;
		&_elements{
			width:100%;
			margin-left:7%;
			margin-top: 40px;
			box-shadow: 2px 0px 6px 0px color('secundary');
			border-radius:10px;
			background: color('light');
			&_title, &_titleDivided, &_info{
				padding: 0.3rem 0 0.3rem 70px;
			}
			&_title, &_titleDivided{
				max-width: 100%;
				background: color('warning');
				font-weight: 300;
				color: color('light');
				border-radius: 0 10px 0 0;
			}
			&_title{
				text-overflow:ellipsis;
				white-space:nowrap; 
				overflow:hidden;
			}
			&_titleDivided{
				width: calc(100% - 70px);
				display: flex;
				justify-content: space-between;
				align-items: center;
				i{
					margin-right: 0.65rem;
					font-size: 1.2rem;
					cursor: pointer;
				}
			}
			&_info, &_description{
				color: color('secundary');
				p{
					padding: 0;
					text-overflow:ellipsis;
					white-space:nowrap; 
					overflow:hidden; 
				}
			}
			&_info{
				&Name{
					color: color('dark');
					font-weight: 900;
					border-bottom: 1px solid lighten(color('dark'),45);
					margin-bottom: 0.5rem;
				}
			}
			&_description{
				border-top: 1px solid lighten(color('dark'), 40);
				width: 92%;
				margin:0.5rem 3% 0.5rem 3%;
				padding-top: 0.3rem;
				max-height: 60px;
				overflow:hidden;
				display: none;
			}
			&_btns, &_btns_short{
				width: 40%;
				display: inline-block;
				margin: 0.25rem 0 0.2rem 57%;
			}
			&_btnsDivided{
				width: 100%;
				margin:0.25rem 0;
				display: flex;
				justify-content: space-around;
				a{	
					width: 40%;
					max-width: 100px;
				}
			}
			&_btns_short{
				display: flex;
				justify-content: flex-end;
				padding-right: 0.25rem;
			}
		}
	}
}
/*------------------------------
Estilos de Comentarios
------------------------------*/
.commentaries{
	margin: 0 0 1rem 0;
	padding: 0.5rem 0;
	border-bottom: 1px solid lighten(color('dark'), 40);
}
.commentary{
	display:flex;
	align-items:center;
	justify-content: space-around;
	width: 100%;
	margin: 0.5rem 0;
	img{
		width: 30px;
		height:30px;
		border-radius:100%;
	}
	&_text{
		width: calc(100% - 50px);
		min-height: 40px;
		border: 1px solid lighten(color('dark'), 40);
		border-radius: 5px;
		padding: 0 0.3rem;
		&_header{
			display: flex;
			justify-content:space-between;
			padding: 0.2rem;
			border-bottom: 1px solid lighten(color('dark'), 40);
			color: color('secundary');
		}
		&_comment{
			padding: 0.3rem;
			color: color('dark');
		}
		&_btn{
			margin: 0.3rem 0.3rem 0.1rem 0;
			padding: 0 0.5rem;
			float: right;
		}
	}
}
.commentary_resp{
	width: 83% !important;
	margin-left:17%;
}
/*------------------------------
Elemento para añadir información con Inputs
------------------------------*/
.container_add{
	display:flex;
	align-items: center;
	justify-content: space-around;
	&Plus{
		align-self: flex-start;
		margin-top: 1rem;
	}
	@at-root .plusBtn{
		width: 30px;
		height: 30px;
		line-height:30px;
		background: color('secundary');
		color: color('light');
		text-align: center;
		border-radius: 100%;
		font-size: 20px;
	}
	&Items{
		width: calc(100% - 50px);
	}
	&Item{//agregar en las mediaqueries
		/*&Select{
			width: 33%;
		}
		&Input{
			width: 30%;
		}
		&Input4{
			width: calc(25% - 13.5px);
			//margin-right:1.25%;
		}
		&Textarea1{
			min-width: 99%;
		}*/
		&Fases{
			display:flex;
			align-items: center;
			justify-content: space-around;
		}
		&Fase{
			width: calc(100% - 50px);
		}
	}
}
/*------------------------------
Estilos para los input con socialNetworks
------------------------------*/
.input_socialNetworks{
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 1px solid lighten(color('dark'), 40);
	border-radius: 5px;
	width: 95%;
	margin:$space_lines auto;
	i{
		font-size: 20px;
		margin: 0 0.5rem 0 0.35rem;
		color: color('secundary');
	}
	input{
		border:0px;
	}
}
/*------------------------------
Estilo para imagenes
------------------------------*/
.image_container{
	text-align:center;
	&_imagen{
		width: 120px;
		height: 120px;
		margin: 1rem 0;
		border-radius: 100%;
		box-shadow: 1px 0px 4px 0px color('secundary');
	}
}

/*------------------------------
Separaciones 
------------------------------*/
.up_space{
	margin-top: 1rem;
}
.down_space{
	margin-bottom: 1rem;
}
/*------------------------------
Estilos de Texto
------------------------------*/
.text_container{
	color: color('secundary');
}
.txt-justify{
	text-align: justify;
}

/*------------------------------
Estilo de Inputs
------------------------------*/
.labelInput{
	margin: 0.5rem 0 0 0;
	h3{
		margin: 0 0 0.5rem 0;
		font-weight: 400;
		color: color('secundary');
	}
	select{
		min-width:100%;
	}
}
.container_checkbox{
	position: relative;
	font-size: map-get($title , 'h1');
	padding-left:1rem;
	span{
		position: absolute;
		top:0.2rem;
	}
	input[type="checkbox"]{
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 0.25rem;
	}
}
/*------------------------------
Estilos de divs
------------------------------*/
.centrarContenido{
	width: 90%;
	margin:auto;
}
/*------------------------------
Estilos links o vinculos
------------------------------*/
.viculo_simple{
	text-align: right;
	margin: 1rem 0 3rem 0;
	a{
		color: color('secundary');
	}
}
/*------------------------------
Contenedor con muchos items Dentro
------------------------------*/
.container_items{
	display:flex;
	flex-wrap:wrap;
	&_item{
		width: 25%;//modificar al cambio de 
		padding: 0.2rem 0;
	}
}
/*------------------------------
Estilos añadidos con flex
------------------------------*/
.downFlex{
	align-self: flex-end !important;
}
/*------------------------------
Estilos de linea
------------------------------*/
.line_down{
	border-bottom: 1px solid lighten(color('dark') , 40);
	margin: 0.25rem;
}
/*------------------------------
Estilos de table
------------------------------*/
.table_container{
	width: 100%;
	background: color('light');
	box-shadow: 1px 0px 2px 0px color('dark');
}

//Estilos para cuando estemos en mobil
.table{
	width:96%;
	margin: auto;
	border-collapse: collapse;
	thead{
		th{	
			padding:1rem 0;
			text-align: center;
			font-size: map-get($title , 'h3');
			border-bottom: 1px solid lighten(color('dark'), 30);
			color: color('dark');
		}
		th.thHidden{
			display:none;
		}
	}
	tbody{
		tr{
			display: flex;
			flex-direction: column;
			position: relative;
		}
		td{
			//text-align: center;
			input[type="checkbox"]{
				width: 20px;
				height:20px;
			}
		}
	}
	&_separe{
		display:flex;
		justify-content: space-around;
		align-items: center;
		&Content{
			width: 75%;
			display: flex;
			justify-content: space-between;
		}
		&Empty{
			width: 12.5%;
		}
	}
	&_plus{
		width: 20px;
		height: 20px;
		border-radius: 100%;
		text-align: center;
		line-height: 20px;
		color:color('light');
		&More{
			background: color('success');
			margin-right: 2rem;
		}
		&Minus{
			position: absolute;
			top: 25px;
			left: 10%;
			background: color('alert');
		}
	}
	&_datosHidden, &_datosnoHidden{
		display: none;
		padding-left: calc(25%);
	}
	&_datosnoHidden{
		display: block;
	}
	.hidden{
		display:none;
	}
}

.cortar{
  text-overflow:ellipsis;
  white-space:nowrap; 
  overflow:hidden; 
}