<div class="usv-mcontainer" *ngIf="services">
  <div class="row usv-scontainer">
      <div class="clm-xs-12">
          <div class="usv-mt">
              <h1 class="usv-mt_h1">My Services</h1>
          </div>
      </div>
      <div class="clm-xs-12">
          <div class="row usv-scontainer-line">
              <div class="clm-xs-12 clm-sm-6 clm-lg-4 clm-xl-3" *ngFor="let service of services">
                  <div class="usv-s usv-s-s">
                      <div class="usv-s-s-c usv-g-shadow">
                          <div class="usv-s-s-c_t usv-g-shadow usv-bg-primary"></div>
                          <div class="usv-s-s-c_i">
                              <p class="usv-t-cut usv-s-s-c_i-p">#id: <span>{{service.identity}}</span></p>
                              <p class="usv-t-cut usv-s-s-c_i-p">Modified:  <span class="usv-t-s-min">{{service.date_update}}</span></p>
                              <p class="usv-t-cut usv-s-s-c_i-p">Status:  <span class="usv-t-s-min">{{service.status}}</span></p>
                          </div>
                      </div>
                      <div class="usv-s-s-img usv-g-shadow">
                          <img  src="{{url + service.image}}">
                          <div class="usv-s-s-img-b usv-g-shadow usv-bg-primary"></div>
                          <div class="usv-s-s-img-h"></div>
                      </div>
                      <div class="usv-s-s-t_double" clickOutside (clickOutside)="service.smenu = false">
                          <h2 class="usv-t-w-bd usv-t-cut usv-s-s-t_double-h2">{{service.name_service}}</h2>
                          <i class="fas fa-ellipsis-v usv-s-s-t_double-icon usv-s-s-t_double-icon_r usv-cursor-hov" (click)="(service.smenu) ? service.smenu = false: service.smenu = true"></i>
                          <div class="usv-s-menu" [ngClass]="{'usv-g-display_none': !service.smenu}">
                              <a routerLink="/service/{{service.identity}}">Visualizar</a>
                              <a>Compartir</a>
                              <a routerLink="/usr/service/edit/{{service.identity}}">Editar</a>
                              <a (click)="remove(service);service.smenu = false">Eliminar</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>