
/*------------------------------
Clases por elemento
------------------------------*/
//clase del fa-plus
.usv-plus{
    height: 30px;
    width: 30px;
    margin: 1rem auto 0 auto;
    text-align: center;
    line-height: 30px;
    background: color('primary');
    color: color('light');
    font-size: 18px;
    border-radius: 100%;
    opacity: 0.7;
    &:hover{
        cursor:pointer;
        opacity:1;
    }
}
//clase de imagen
.usv-img{
    height: 150px;
    width: 150px;
    margin: 1rem auto;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    img, &_cover{
        height: 100%;
        width: 100%;
    }
    &_cover{
        position: absolute;
        left:0;
        top:0;
    }
    input{
        height:130px;
        position:absolute;
        left:0;
        top:0;
        opacity:0;
    }
}
//clase del servicio
.usv-s{
    position: relative;
    margin: 0 auto 10px auto;
    &-m, &-s{
        &-img{
            height: 100px;
            width: 100px;
            position: absolute;
            left:0;
            top:0;
            border-radius: 100%;
            overflow:hidden;
            &-b, &-h{
                width: 100%;
                position: absolute;
                left:0;
            }
            img{
                height: 100%;;
                width: 100%;
            }
            &-b{
                height: 27px;
                top:10px;
                opacity: 0.5;
            }
            &-h{
                height: 100%;
                top:0;
                background: none;
            }
        }
        &-c{
            height: 135px;
            width: calc(100% - 30px - 2px);
            position: absolute;
            left: 30px;
            top: 10px;
            background: color('light');
            border-radius: 4px;
            overflow: hidden;
            &_t{
                height: 27px;
                width: 100%;
            }
            &_i{
                height: 60px;
                width: calc(100% - 72px);
                float: right;
                margin: 0.5rem 0 0.2rem 0;
                h2{ 
                    width: calc(100% - 10px);
                    margin:0;
                    padding:0;
                    font-size: 12px;
                    font-weight: 900;
                    border-bottom: 1px solid lighten(color('secundary'), 70);
                    opacity: 0.9;
                }
                p{
                    margin:3px 0;
                    font-size: 12px;
                    font-weight: 300;
                }
            }
            &_d{
                height: 33px;
                width: calc(100% - 1rem);
                position: absolute;
                bottom: 0;
                left:0;
                margin-left: 0.5rem;
                border-top: 1px solid lighten(color('secundary'), 70);
                p{
                    font-size: 10px;
                    margin:0.2rem 0 0 0;
                    opacity: 0.7;
                }
            }
        }
        &-t, &-t_double{
            height: 27px;
            width: calc(100% - 25px - 5px);
            position: absolute;
            top:10px;
            left: 25px;
            h2{
                line-height: 27px;
                margin: 0;
                color: color('light');
                font-size: 14px;
                font-weight: 700;
            }
        }
        &-t_double{
            width: calc(100% - 10px);
            left: 10px;
            position:relative;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &-icon{
                margin-right: 5px;
                color: color('light');
                &_r{
                    font-size: 18px;
                }
                &_xs{
                    font-size: 12px;
                }
            }
            h2{
                width: calc(100% - 35px);
            }
        }
    }
    &-s{
        height: 95px;
        max-width: 220px;
        &-c{
            height: 85px;
            bottom: 0;
            top: auto;
            &_i p{
                margin: 0 0 2px 0;
            }
        }
        &-img{
            height: 95px;
            width: 95px;
            bottom:0;
            top:auto;
        }
    }
    &-m{
        height: 150px;
        width: calc(100% - 0.55rem);
        max-width: 280px;
        min-width: 200px;
    }
}
/*---------------------------
Mensajes
---------------------------*/
.usv-msg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &_resp{
        width: calc(100% - 2px);
        margin: 0 auto 10px auto;
    }
    &_cont{
        width: calc(100% - 30px - 1rem);
        margin: 0px 0 10px auto;
    }
    &-img{
        height: 30px;
        width: 30px;
        border-radius: 100%;
        overflow: hidden;
        img{
            height: 100%;
            width: 100%;
        }
    }
    &-m{
        width: calc(100% - 30px - 1rem);
        border: 1px solid lighten(color('secundary'), 70);
        border-radius: 3px;
        padding: 0.25rem 0;
        &-top{
            height: 20px;
            width: 98%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position:relative;
            margin: 0rem auto;
            padding: 0.25rem;
            border-bottom: 1px solid lighten(color('secundary'), 70);
            &_i{
                width: 60%;
                color: lighten(color('secundary'), 10);
                font-weight: 700;
            }
            &_d{
                display: flex; 
                justify-content: space-between;
                position:relative;
                color: lighten(color('secundary'), 10);
                div{
                    font-size: 0.9rem;
                }
                i{
                    margin: 0  0.5rem 0 1rem;
                    font-size: 1.1rem;
                }
            }
        }
        &-down{
            min-height: 15px;
            width: 98%;
            margin: 0.25rem auto 0 auto;
            color: lighten(color('secundary'), 25);
            font-size: 10px;
        }
    }
}
/*--------------------
Menu Secundario
--------------------*/
.usv-s-menu{
    max-width: calc(100% - 0.3rem - 10px);
    min-width: calc(100% - 75px);
    position: absolute;
    top: -5px;
    right: 30px;
    padding: 2px 0.15rem 0 0.15rem;
    background:color('light');
    border-radius: 4px;
    box-shadow: 2px 2px 10px 0 lighten(color('secundary'), 50);
    z-index: 2;
    &_msg{
        min-width: 150px;
    }
    &_header{
        min-width: 250px;
        top: 30px;
        right: 45px;
        padding: 5px 0.5rem;
    }
    p, a , .usv-i-cnt{
        width: calc(100% - 0.4rem);
        margin: 0 auto;
        padding: 0.3rem 0 0.3rem 0.3rem;
        font-size: 10px;
        border-bottom: 1px solid lighten(color('secundary'), 75);
        padding-bottom: 5px;
        &:hover{
            background: lighten(color('secundary'), 75);
            font-weight: 700;
            border-color: color('light');
            border-radius: 3px;
            cursor: pointer;
        }
    }
    a{
        display: block;
    }
    .usv-i-cnt:hover{
        background: inherit;
        font-weight: inherit;
        border-bottom:1px solid lighten(color('secundary'), 75);
        cursor: inherit;
    }
    &:after{
        content: '';
        position: absolute;
        right: -7px;
        top: 10px;
        border-bottom: 5px solid transparent;
        border-left: 7px solid color('light');
        border-top: 5px solid transparent;
    }
    &_header:after{
        right: 10px;
        top: -7px;
        border-bottom: 7px solid color('light');
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 0px;
    }
}